.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.close {
  position: absolute;
  left: 6px;
  top: 6px;
  cursor: pointer;
  padding: 4px;
  background-color: rgba(255,255,255,0.3);
}
.modalContent {
  background: white;
  border-radius: 8px;
  width: 400px;
  height: 400px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.modalBody {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-top: 15px;
  p {
    text-align: center;
  }
  .monthList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .month {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
    line-height: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .isCurrentMonth {
    background-color:lightgreen;
  }
}
