:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.bottom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  .tab-item{
    background: none;
    border: none;
    text-decoration: none;
    color: #171717;
  }
  .tab-item-active{
    background: #ddd;
  }
}
