.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.close {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.modalContent {
  background: white;
  border-radius: 8px;
  width: 370px;
  padding: 20px 0 20px 0;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .title {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }
}
.addRecord{
  padding: 20px 20px 20px 20px;
}
.yearTitle {
  text-align: center;
  margin: 5px 0 10px 0;
  font-size: small;
  color: #676767;
}
.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  span {
    background-color: #f6f6f6;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 5px 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: small;
    color: #4f4f4f;
  }
  span:hover {
    background-color: #efefef;
  }
  .selectedDay,
  .selectedDay:hover {
    background-color: var(--main-color);
    color: #fff;
  }
}
.modalBody {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 0 20px 0 20px;
}
.typeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .typeBoxL {
    display: flex;
    flex-direction: row;
  }
  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(251, 251, 251);
    width: 90px;
    justify-content: center;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
  }
  .type {
    color: rgb(179, 179, 179);
    background-color: rgb(251, 251, 251);
    width: 40px;
    height: 23px;
    font-size: small;
    line-height: 23px;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .type:hover {
    background-color: rgb(240, 240, 240);
  }
  .type.selected {
    background-color: var(--main-color-01);
    color: var(--main-color);
  }
}
.moneyInputGroup {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(225, 225, 225);
  }
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
  div:hover {
    div {
      background-color: rgb(230, 230, 230);
    }
    span {
      color: rgb(57, 57, 57);
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    cursor: pointer;
    div {
      background-color: rgb(251, 251, 251);
      border-radius: 50px;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      svg {
        color: rgb(162, 162, 162);
      }
    }
    span {
      color: rgb(162, 162, 162);
      font-size: small;
    }
  }
}
