.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.close {
  position: absolute;
  left: 6px;
  top: 6px;
  cursor: pointer;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.modalContent {
  background: white;
  border-radius: 8px;
  width: 369px;
  height: 400px;
  padding: 20px 5px 10px 20px;
  /* padding: 20px; */
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.modalBody {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-top: 15px;
}
.typeBox {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  .type {
    color: rgb(179, 179, 179);
    background-color: rgb(251, 251, 251);
    width: 40px;
    height: 23px;
    font-size: small;
    line-height: 23px;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .type:hover {
    background-color: rgb(240, 240, 240);
  }
  .type.selected {
    background-color: var(--main-color-01);
    color: var(--main-color);
  }
}
